<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

{{ theme:js src="site-behaviors/vendor/jquery.once.min" tag="true" }}

{{# theme:js src="site-behaviors/vendor/jquery.magnific-popup.min" tag="true" #}}
{{# theme:js src="site-behaviors/vendor/owl.carousel.min" tag="true" #}}
{{# theme:js src="site-behaviors/vendor/waypoints.min" tag="true" #}}
{{# theme:js src="site-behaviors/vendor/hc-sticky.min" tag="true" #}}
{{# theme:js src="site-behaviors/vendor/imagesloaded.pkgd.min" tag="true" #}}

{{ theme:js src="site-behaviors/base" tag="true" }}
{{# theme:js src="site-behaviors/behaviors/animated_panel" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/autoscroll" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/detect_at_top" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/detect_off_screen" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/equal_height_divs" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/gallery" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/infinite_scroll" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/modal" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/owl_carousel" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/sticky" tag="true" #}}
{{# theme:js src="site-behaviors/behaviors/toggler" tag="true" #}}
{{ theme:js src="site-behaviors/start" tag="true" }}

{{ theme:js tag="true" }}

{{# location:start_maps #}}

{{ if enable_analytics }}
{{ /if }}
