<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

{{ theme:js src="vendor/jquery.once.min" tag="true" }}

{{# theme:js src="vendor/jquery.magnific-popup.min" tag="true" #}}
{{# theme:js src="vendor/owl.carousel.min" tag="true" #}}
{{# theme:js src="vendor/waypoints.min" tag="true" #}}
{{# theme:js src="vendor/hc-sticky.min" tag="true" #}}
{{# theme:js src="vendor/imagesloaded.pkgd.min" tag="true" #}}

{{ theme:js src="base" tag="true" }}
{{# theme:js src="behaviors/animated_panel" tag="true" #}}
{{# theme:js src="behaviors/detect_at_top" tag="true" #}}
{{# theme:js src="behaviors/detect_off_screen" tag="true" #}}
{{# theme:js src="behaviors/equal_height_divs" tag="true" #}}
{{# theme:js src="behaviors/infinite_scroll" tag="true" #}}
{{# theme:js src="behaviors/owl_carousel" tag="true" #}}
{{# theme:js src="behaviors/sticky" tag="true" #}}
{{# theme:js src="behaviors/toggler" tag="true" #}}
{{# theme:js src="behaviors/modal" tag="true" #}}
{{ theme:js src="start" tag="true" }}

{{# location:start_maps #}}

{{ if enable_analytics }}
{{ /if }}
