<meta name="keywords" content="{{ global:site_keywords }}">
<meta name="description" content="{{ global:site_description }}">

<!-- OPEN GRAPH -->
<meta property="og:title" content="{{ title or _site_name }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ _site_url }}">
<meta property="og:site_name" content="{{ _site_name }}">
<meta property="og:image" content="">
<meta property="og:description" content="{{ global:site_description }}">

<!-- TWITTER CARDS -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ twitter_username }}">
<meta name="twitter:title" content="{{ title or _site_title }}">
<meta name="twitter:image" content="">
<meta name="twitter:description" content="{{ global:site_description }}">

