{{ if meta_keywords }}
  <meta name="keywords" content="{{ meta_keywords }}">
{{ else }}
  <meta name="keywords" content="{{ globes name='site_keywords' }}">
{{ /if }}

{{ if meta_description }}
  <meta name="description" content="{{ meta_description }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta name="twitter:description" content="{{ meta_description }}">
{{ else }}
  <meta name="description" content="{{ globes name='site_description' }}">
  <meta property="og:description" content="{{ globes name='site_description' }}">
  <meta name="twitter:description" content="{{ globes name='site_description' }}">
{{ /if }}

{{ if meta_title }}
  <meta property="og:title" content="{{ meta_title }}">
  <meta name="twitter:title" content="{{ meta_title }}">
  <title>{{ meta_title }}</title>
{{ else }}
  <meta property="og:title" content="{{ title or _site_name }}">
  <meta name="twitter:title" content="{{ title or _site_title }}">
  <title>{{ title }} | IDP Foundation | Innovation, Development, Progress</title>
{{ /if }}

{{ if meta_image }}
  <meta property="og:image" content="{{ _site_url }}{{ meta_image }}">
  <meta name="twitter:image" content="{{ _site_url }}{{ meta_image }}">
{{ /if }}

<meta property="og:type" content="website">
<meta property="og:url" content="{{ _site_url }}">
<meta property="og:site_name" content="{{ _site_name }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@IDPFoundation">

