html
  -webkit-font-smoothing: antialiased

body
  font: normal 100%/1.5 $body-font
  color: $global-text-color

h1, h2, h3, h4, h5, h6
  font-family: $heading-font
  font-weight: bold
  line-height: 1.2

+media($tinyScreenUp)
  body
    font-size: 105%

+media($miniScreenUp)
  body
    font-size: 110%

+media($smallScreenUp)
  body
    font-size: 115%

+media($mediumScreenUp)
  body
    font-size: 120%

+media($largeScreenUp)
  body
    font-size: 125%

+media($hugeScreenUp)
  body
    font-size: 130%
