//NEAT
$max-width: 1140px

// FONTS
$serif: Georgia, serif
$sans: Helvetica, sans-serif

$body-font: $serif
$heading-font: $sans
$display: $serif

// SHADES
$black: #000
$white: #FFF

// COLORS

// BREAKPOINTS
$tiny: new-breakpoint(min-width 320px 4)
$mini: new-breakpoint(min-width 500px)
$small: new-breakpoint(min-width 768px)
$medium: new-breakpoint(min-width 980px)
$large: new-breakpoint(min-width 1120px)
$huge: new-breakpoint(min-width 1300px)
$max: new-breakpoint(min-width 1600px)

// THEME

