//NEAT
$max-width: 1140px

// FONTS
$serif: Georgia, serif
$sans: Helvetica, sans-serif
$display: cursive

$body-font: $sans
$heading-font: $serif


// SHADES
$black: #000000
$white: #ffffff
$off-white: desaturate(tint($black, 98), 0)
$gray-lightest: desaturate(tint($black, 95.5), 0)
$gray-lighter: desaturate(tint($black, 92), 0)
$gray-light: desaturate(tint($black, 85), 0)
$gray-medium: desaturate(tint($black, 76), 0)
$gray-dark: desaturate(tint($black, 30), 0)

// COLORS
$red: red
$green: green
$blue: blue
$yellow: yellow
$orange: orange

// SITE COLOR VARIABLES
$global-link-color: $blue
$global-text-color: $gray-dark

// BREAKPOINTS
$tinyScreenUp: new-breakpoint(min-width 320px 4)
$miniScreenUp: new-breakpoint(min-width 500px)
$smallScreenUp: new-breakpoint(min-width 768px)
$smallScreenDown: new-breakpoint(max-width 768px)
$mediumScreenUp: new-breakpoint(min-width 980px)
$mediumScreenDown: new-breakpoint(max-width 980px)
$miniToMediumScreen: new-breakpoint(min-width 500px max-width 980px)
$largeScreenUp: new-breakpoint(min-width 1120px)
$hugeScreenUp: new-breakpoint(min-width 1300px)
$maxScreenUp: new-breakpoint(min-width 1600px)

$shortScreenUp: new-breakpoint(min-width 768px min-height 1000px)

// THEME
$themePath: '/_themes/idp'