<div class="container styleguide-wrap">
  <img src="{{ theme:img src='idp-logo.svg' }}" class="logo">
  <h1>Website Style Guide</h1>
  <section>
    <hr>
    <h2>Typefaces</h2>
    <div class="row">
      <div class="styleguide-font-block">
        <h4 class="subhead">Headline Font</h4>
        <p class="headline-font">Montserrat Normal</p>
        <p class="small">Weight 400; Letter-spacing: -.03em</p>
        <p class="headline-font"><b>Montserrat Bold</b></p>
        <p class="small">Weight 700; Letter-spacing: -.03em</p>
      </div>
      <div class="styleguide-font-block">
        <h4 class="subhead">Body Font</h4>
        <p class="sans light-font">Lato Light</p>
        <p class="small">Weight 300; Letter-spacing: None</p>
        <p class="sans">Lato Normal</p>
        <p class="small">Weight 400; Letter-spacing: None</p>
        <p class="sans"><i>Lato Normal Italic</i></p>
        <p class="small">Weight 400; Letter-spacing: None</p>
        <p class="sans"><b>Lato Bold</b></p>
        <p class="small">Weight 700; Letter-spacing: None</p>
      </div>
      <div class="styleguide-font-block">
        <h4 class="subhead">Icons</h4>
        <p class="small">Font Awesome <a href="http://fortawesome.github.io/Font-Awesome/icons/">Learn more.</a></p>
        <p>
          <i class="fa fa-bell-o"></i> <i class="fa fa-bookmark"></i> <i class="fa fa-check"></i>
          <i class="fa fa-clock-o"></i> <i class="fa fa-cloud"></i> <i class="fa fa-hand-stop-o"></i>
        </p>
        <p>
          <i class="fa fa-cog"></i> <i class="fa fa-arrow-down"></i> <i class="fa fa-play-circle-o"></i>
          <i class="fa fa-apple"></i> <i class="fa fa-facebook"></i> <i class="fa fa-thumbs-o-up"></i>
        </p>
    </div>
  </section>
  <section>
    <hr>
    <h2>Typography</h2>
    <div class="row">
      <div class="half">
        <h4 class="subhead">Headers</h4>
        <h1>H1. An example headline.</h1>
        <h2>H2. An example headline.</h2>
        <h3>H3. An example headline.</h3>
        <h4>H4. An example headline.</h4>
        <h4 class="subhead">H4. As a subhead.</h4>
        <h5>H5. An example headline.</h1>
      </div>
      <div class="half">
        <h4 class="subhead">Body Font</h4>
        <p>A normal body paragraph. Habitant <a href="#">morbi tristique senectus</a> et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, <b>ultricies eget</b>, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat <i>eleifend leo</i>.</p>
        <p class="body-pp-large">A large body paragraph. Habitant <a href="#">morbi tristique senectus</a> et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, <b>ultricies eget</b>, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat <i>eleifend leo</i>.</p>
        <p class="body-pp-small">A small body paragraph. Habitant <a href="#">morbi tristique senectus</a> et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, <b>ultricies eget</b>, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat <i>eleifend leo</i>.</p>
        <blockquote>
          <p>Here's an example of a blockquote saying something pithy.</p>
          <cite>— Jenny Smith</cite>
        </blockquote>
      </div>
    </div>
  </section>

  <section>
    <hr>
    <h2>Colors</h2>
    <div class="row">
       <div class="styleguide-color-block">
          <span style="background-color: #ffffff"></span>
          <p class="small">White</p>
          <p class="small">#ffffff</p>
        </div>
      <div class="styleguide-color-block">
        <span style="background-color: #fcfafa"></span>
        <p class="small">Off-White</p>
        <p class="small">#fcfafa</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #f2f0f0"></span>
        <p class="small">Gray-lightest</p>
        <p class="small">#f2f0f0</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #d9d7d7"></span>
        <p class="small">Gray-lighter</p>
        <p class="small">#d9d7d7</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #bfbbbc"></span>
        <p class="small">Gray-light</p>
        <p class="small">#bfbbbc</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #807a7b"></span>
        <p class="small">Gray-medium</p>
        <p class="small">#807a7b</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #544d4f"></span>
        <p class="small">Gray-Dark</p>
        <p class="small">#544d4f</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #262122"></span>
        <p class="small">Black</p>
        <p class="small">#262122</p>
      </div>
    </div>
    <div class="row">
      <div class="styleguide-color-block">
        <span style="background-color: #2A68AF"></span>
        <p class="small">IDP Blue</p>
        <p class="small">#2A68AF</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #B4D62C"></span>
        <p class="small">IDP Green</p>
        <p class="small">#B4D62C</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #FFB200"></span>
        <p class="small">Tang</p>
        <p class="small">#FFB200</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #E8177C"></span>
        <p class="small">Punch</p>
        <p class="small">#E8177C</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #02D1D1"></span>
        <p class="small">Marine</p>
        <p class="small">#02D1D1</p>
      </div>
      <div class="styleguide-color-block">
        <span style="background-color: #FCF935"></span>
        <p class="small">Sunshine</p>
        <p class="small">#FCF935</p>
      </div>
    </div>
  </section>
  <section class="add-bottom-pad">
     <hr>
     <h2>Buttons</h2>
     <p>
        <a href="#" class="btn">Standard Button</a> &nbsp; &nbsp; &nbsp;
        <a href="#" class="btn btn-outline">Outline Button</a> &nbsp; &nbsp; &nbsp;
        <a href="#" class="btn btn-small">Small Button</a> &nbsp; &nbsp; &nbsp;
        <a href="#" class="btn btn-outline btn-small">Outline Button Small</a> &nbsp; &nbsp; &nbsp;
      </p>
  </section>
  <section>
     <hr>
     <h2>Images</h2>
     <div class="row">
       <div class="half">
         <h4 class="subhead">Figure Image with caption</h4>
         <figure>
           <img src="{{ theme:img src='styleguide/styleguide-sample-1.jpg' }}">
           <figcaption>Here's the caption for the image</figcaption>
        </figure>
       </div>
       <div class="half">
        <h4 class="subhead">Figure Image add box</h4>
        <figure class="add-box">
          <img src="{{ theme:img src='styleguide/styleguide-sample-1.jpg' }}">
          <figcaption>Here's the caption for the image</figcaption>
        </figure>
       </div>
    </div>
  </section>
  <hr>
</div>
